:root {
	--bg-color: #7b86a1;
	--black: #000000;
	--white: #ffffff;
	--off-white: #f6f6f6;
	--gray: #cbcbcb;
	--red: #da262e;
	--blue: #0a203f;

	--font-family: "Mulish", sans-serif;
}

*, :before, :after { box-sizing: inherit; }

html {
	background-color: var(--bg-color);
	font: 1px/1.2 var(--font-family);
	text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 100rem;
	background-color: var(--bg-color);
	color: var(--white);
	font: 15rem/1.15 var(--font-family);
}

a {
}
a:hover {
}

h1 {
	margin: 0 0 20rem;
	font: 35rem/1.15 var(--font-family);
}

@media (max-width: 600px) {
	body {
		padding: 20rem;
	}
}
